<div class="ui three item menu">
<%= link_to 'Doctors', doctors_path, class: "item"%>
<%= link_to 'Patients', users_path, class: "item"%>
<%= link_to 'New Patients', new_user_path, class: "item"%>
</div>